<legend>Overview of all bands</legend>
<% if current_user %>
<p><%= link_to "Create a new band!", :controller => "bands", :action => "new" %></p>
<% end %>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bands.each do |band| %>
  <tr>
    <td><%= band.name %></td>
    <td><%= band.description %></td>
    <td><%= link_to 'Show', band %></td>
    <% if true == true # later: if user is part of band %>
    <td><%= link_to 'Edit', edit_band_path(band) %></td>
    <% end %>
  </tr>
<% end %>
</table>

