<!DOCTYPE html>
<html>
<head>
  <title>FreakquenzyRecords</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- This is the navbar -->
<%= render 'layouts/navigation' %>

<div class="container">

  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% end %>

  <% if alert %>
    <p class="alert"><%= alert %></p>
  <% end %>

  <%= yield %>
</div><!-- end container -->

</body>
</html>
