<!DOCTYPE html>
<html>
<head>
  <title>FreakquenzyRecords</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- This is the topbar -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= render 'layouts/navigation' %>
    </div>
  </div>
</div>

<% if false %>
  <div class="alert alert-success"><p class="notice"><%= notice %></p></div>
  <div class="alert alert-error"><p class="alert"><%= alert %></p></div>
<% end %>
<div class="container">
  <%= yield %>
</div>

</body>
</html>
