<!DOCTYPE html>
<html>
<head>
  <title>FreakquenzyRecords</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- This is the navbar -->
<%= render 'layouts/navigation' %>

<div class="container">

  <% if notice %>
    <div class="alert alert-info">
      <%= notice %><a class="close" data-dismiss="alert" href="#">&times;</a>
    </div>
  <% end # notice%>

  <% if alert %>
    <div class="alert alert-error">
      <%= alert %><a class="close" data-dismiss="alert" href="#">&times;</a>
    </div>
  <% end # alert %>

  <%= yield %>

</div><!-- end container -->

</body>
</html>
